<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <header>
      <h1>Gilberto Gil</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">Who is Gilberto Gil?</a></li>
          <li><a href="/works">Career</a></li>
          <li><a href="/gallery">Photos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2><u>Who is Gil?</u></h2>
      <p>
        Gil started to play music as a child and was a teenager when he joined
        his first band. He began his career as a bossa nova musician and grew to
        write songs that reflected a focus on political awareness and social
        activism. He was a key figure in the Música popular brasileira and
        tropicália movements of the 1960s, alongside artists such as longtime
        collaborator Caetano Veloso. The Brazilian military regime that took
        power in 1964 saw both Gil and Veloso as a threat, and the two were held
        for nine months in 1969 before they were told to leave the country. Gil
        moved to London, but returned to Bahia in 1972 and continued his musical
        career, while also working as a politician and environmental advocate.
      </p>
    </main>
    <script src="app.js"></script>
  </body>
</html>
