<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/gallery.css" />
  </head>
  <body>
    <header>
      <h1>Gilberto Gil</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">Who is Gilberto Gil?</a></li>
          <li><a href="/works">Career</a></li>
          <li><a href="/gallery">Photos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Gallery Page</h2>
      <div class="image-container">
        <img src="/images/Gil-headshot.jpeg" alt="Headshot Gilberto Gil" />
        <img
          src="/images/Gilberto-gil.jpeg"
          alt="Gil and his acoustic guitar"
        />
        <!-- Add more <img> tags for each additional image -->
      </div>
    </main>
  </body>
</html>
